.item {
    display       : flex;
    align-items   : center;
    border-bottom : 1px solid;

    > * {
        flex-shrink : 0;
    }
}

h2 {
    padding-right : 5px;
    // make item name expand when panel is upsized and disappear when it is downsized
    flex          : 1;
    white-space   : nowrap;
    overflow      : hidden;
}

// make children toggle button a little less wide than other buttons to reduce indentation effect
.children-toggle {
    width : 20px;

    button {
        width : 20px;
        &:hover {
            background : none;
        }
    }
}

.faded {
    opacity : 0.25;
}
