.item {
    display       : flex;
    align-items   : center;
    border-bottom : 1px solid;

    > * {
        flex-shrink : 0;
    }
}

h2 {
    flex          : 1;
    padding-right : 5px;
    white-space   : nowrap;
    overflow      : hidden;
}

.children-toggle {
    width : 15px;

    button {
        width         : 15px;
        padding-right : 5px;
        &:hover {
            background : none;
        }
    }
}

.placeholder {
    width : 5px;
}
