article {
    display     : flex;
    align-items : center;

    > *:not(:last-child) {
        margin-right : 5px;
    }
}

div {
    margin-left : 15px;
}

// color picker
span {
    min-width  : 20px;
    min-height : 20px;
    border     : 1px solid;
}

:host /deep/ .color-picker {
    .left {
        display : none;
    }

    .right {
        padding : 0;

        > div:first-child {
            display : none;
        }
    }

    .hue-alpha.box {margin-bottom : 0;padding : 0;}

    .hsla-text,
    .rgba-text,
    .hex-text,
    .type-policy {
        display : none !important;
    }

    .hue {
        margin-bottom : 0 !important;
    }
}
