<ng-container *ngIf="item">
    <article>
        <h2>{{item.name || item.className}}</h2>
        <button (click)="item.visible = !item.visible">{{item.visible ? 'visible' : 'hidden'}}</button>
        <button (click)="item.locked = !item.locked">{{item.locked ? 'locked' : 'unlocked'}}</button>
        <span>{{item.selectedColor}}</span>
        <button (click)="item.selected = !item.selected">{{item.selected ? 'selected' : 'unselected'}}</button>
        <button (click)="item.remove()">delete</button>
    </article>
    <div *ngIf="item.children && item.children.length > 0">
        <app-item *ngFor="let child of item.children" [item]="child"></app-item>
    </div>
</ng-container>
