/* You can add global styles to this file, and also import other style files */
@import "assets/reset";

button {
    width      : 25px;
    height     : 25px;
    padding    : 0;
    border     : none;
    cursor     : pointer;
    outline    : none;
    background : none;

    &:hover {
        background-color : #EAEAEA;
    }
}
