<main
    #wrapper
    ngResizable
    [rzMinHeight]="26"
    [rzMinWidth]="26"
    [rzHandles]="'se'"
    ngDraggable
    [handle]="titleBar"
>
    <header #titleBar (dblclick)="resetSize()">
        <button (click)="update()">
            <fa-icon [icon]="iconUpdate"></fa-icon>
        </button>
        <h1>Layers panel</h1>
        <button (click)="close()">
            <fa-icon [icon]="iconClose"></fa-icon>
        </button>
    </header>
    <section *ngIf="_scope">
        <!-- loop layers -->
        <paperjs-layer-panel-item *ngFor="let layer of _scope.project.layers" [item]="layer"></paperjs-layer-panel-item>
    </section>
</main>
