<main
    ngResizable
    [rzMinHeight]="26"
    [rzMinWidth]="26"
    [rzHandles]="'se'"
    ngDraggable
    [handle]="titleBar"
>
    <div>
        <header #titleBar>
            <button (click)="update()">
                <fa-icon [icon]="iconUpdate"></fa-icon>
            </button>
            <h1>Layers panel</h1>
            <button (click)="close()">
                <fa-icon [icon]="iconClose"></fa-icon>
            </button>
        </header>
        <section *ngIf="_scope">
            <app-item *ngFor="let layer of _scope.project.layers" [item]="layer"></app-item>
        </section>
    </div>
</main>
