<main
    #wrapper
    [ngResizable]="options.resizable"
    [rzMinHeight]="26"
    [rzMinWidth]="26"
    [rzHandles]="'se'"
    [ngDraggable]="options.draggable"
    [handle]="titleBar"
>
    <header #titleBar (dblclick)="resetSize()">
        <button *ngIf="options.updatable" class="update-button" (click)="update()">
            <fa-icon [icon]="iconUpdate"></fa-icon>
        </button>
        <h1>{{options.title}}</h1>
        <button *ngIf="options.closable" class="close-button" (click)="close()">
            <fa-icon [icon]="iconClose"></fa-icon>
        </button>
    </header>
    <section class="children" *ngIf="_project">
        <!-- loop layers -->
        <paperjs-layer-panel-item *ngFor="let layer of _project.layers" [item]="layer" [options]="options.items"></paperjs-layer-panel-item>
    </section>
</main>
