// panel top level wrapper
main {
    // hide overflow because user can resize panel or collapse groups to see hidden content
    overflow    : hidden;
    border      : 1px solid;
    // disable selection to avoid unwanted effects when clicking on buttons
    user-select : none;
    font-family : sans-serif;
    font-size   : 14px;
    // use inline block display to make the panel adapt its width to content by default
    display     : inline-block;
}

// title bar
header {
    cursor          : move;
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    border-bottom   : 2px solid;

    // make the text disappear when panel is downsized
    h1 {
        white-space : nowrap;
        overflow    : hidden;
    }

    // make sure that buttons keep their size when panel is downsized
    button {
        flex-shrink : 0;
    }
}
