:host {
    position    : fixed;
    top         : 15px;
    left        : 15px;
    z-index     : 1;
    user-select : none;
}

main {
    overflow : hidden;
    border   : 1px solid;
}

h1 {
    font-weight      : bold;
    text-align       : center;
    background-color : black;
    color            : white;
    padding          : 5px 10px;
    white-space      : nowrap;
    cursor           : move;
}

section {
    padding : 5px 10px;
}
