main {
    overflow    : hidden;
    border      : 1px solid;
    user-select : none;
}

header {
    color           : black;
    white-space     : nowrap;
    cursor          : move;
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    border-bottom   : 2px solid;

    h1 {
        overflow : hidden;
    }

    button {
        flex-shrink : 0;
    }
}
